@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Stolzl';
    src: url('fonts/Stolzl-Regular.woff2') format('woff2'), /* Формат WOFF2 */
         url('fonts/Stolzl-Regular.woff') format('woff'); /* Формат WOFF */
    font-weight: 400;
    font-style: normal;
  }
  