@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
     font-family: 'Stolzl';
     src: url('fonts/Stolzl-Book.woff2') format('woff2'),
          url('fonts/Stolzl-Book.woff') format('woff');
     font-weight: 400;
     font-style: normal;
 }

  .background-circle {
     position: absolute;
     width: 399px;
     height: 399px;
     top: 358px;
     left: -118px;
     border-radius: 50%;
     background: radial-gradient(circle, rgba(241, 255, 74, 1) 0%, rgba(241, 255, 74, 0.5) 70%, rgba(241, 255, 74, 0) 100%);
     filter: blur(50px);
 }
 
 .background-circle-2 {
     position: absolute;
     width: 363px;
     height: 363px;
     top: 271px;
     left: 1291px;
     border-radius: 50%;
     background: radial-gradient(circle, rgba(115, 255, 74, 1) 0%, rgba(115, 255, 74, 0.5) 70%, rgba(115, 255, 74, 0) 100%);
     filter: blur(50px);
 }

 .header-container {
     width: 1440px;
     height: 150px;
 }
 
 .logo-container {
     position: absolute;
     width: 110px;
     height: 48px;
     top: 51px;
     left: 122px;
 }
 
 .logo-container img {
     width: 100%; 
     height: auto; 
 }

 .navbar {
     font-family: 'Stolzl', sans-serif;
     font-size: 15px;
     font-weight: 400;
     line-height: 28.44px;
     text-align: left;
 } 
 
 .menu-button {
     width: 44px;
     height: 21px;
     position: absolute;
     top: 62px;
     left: 442px;
     gap: 0px;
     opacity: 1;
 }

 .cafe-address {
     width: 130px;
     height: 28px;
     position: absolute;
     top: 62px;
     left: 539px;
     gap: 0px;
     opacity: 1;
 }

 .market-button {
     width: 69px;
     height: 28px;
     position: absolute;
     top: 62px;
     left: 722px;
     gap: 0px;
     opacity: 1;
 }

 .franchise-button {
     width: 88px;
     height: 28px;
     position: absolute;
     top: 62px;
     left: 844px;
     gap: 0px;
     opacity: 1;
 }

 .vacancy-button {
     width: 76px;
     height: 28px;
     position: absolute;
     top: 62px;
     left: 985px;
     gap: 0px;
     opacity: 1; 
 }

 .contacts-button {
     width: 75px;
     height: 28px;
     position: absolute;
     top: 62px;
     left: 1114px;
     gap: 0px;
     opacity: 1; 
 }

 .social-icons-container {
     width: 97px;
     height: 40px;
     position: absolute;
     top: 62px;
     left: 1233px;
     display: flex;
     gap: 17px;
     opacity: 1; 
 }
 
 .social-icon {
     width: 24px; 
     height: 24px;
 }

 .image-container {
     position: absolute;
     width: 377px;
     height: 407px;
     top: 197px;
     left: 829px;
   }

   .header-title {
     position: absolute;
     width: 998px;
     height: 96px;
     top: 252px;
     left: 122px;
     font-family: 'Stolzl', sans-serif;
     font-size: 40px; 
     font-weight: 400; 
     line-height: 48px; 
     text-align: left; 
   }

   .description-text {
     position: absolute;
     width: 535px;
     height: 48px;
     top: 366px;
     left: 122px;
     font-family: 'Stolzl', sans-serif;
     font-size: 20px;
     font-weight: 400;
     line-height: 24px;
     text-align: left;
   }
   
   .number-35 {
     width: 61px;
     height: 58px;
     top: 467px;
     left: 122px;
     font-family: 'Stolzl', sans-serif;
     font-size: 48px;
     font-weight: 400;
     line-height: 57.6px;
     text-align: right;
   }
   
   
 
 
 
 
 
 
 
 
 
 
 